p{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
b{
    color: rgb(225, 173, 255);
}
#banner{
    width: 10%;
}
header{
    background-color: rgb(184, 42, 228);
}
main{
    background-color: rgb(187, 99, 99);
}
footer{
    background-color: rgb(227, 12, 235);
}
.img-banner{
    text-align: center;    
}
.principal{
    text-align: center;
}
.copyright{
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin: 20px 0 0;
}
